@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49851531-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-49851531-2');
        </script>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
    </head>
    <body>
      @content
      <div class="social">
        <a href="https://twitter.com/peachofpersia?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @@peachofpersia</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="footer">
        <p>&copy; Copyright 2018 who-is-dead - All Rights Reserved</p>
      </div>
    </body>
</html>
